@using _7_Shared_Views.Models;
@model List<Product>

<link rel="stylesheet" type="text/css" href="@Url.Content("~/Content/Site.css")" />

<h3> Strongly Typed Partial View </h3>

<table border="1">
    <thead>
        <tr>
            <th>Product Name</th>
            <th>Product Id</th>
            <th>Product Price</th>
            <th>Product Image</th>
        </tr>
    </thead>
    @{
        if (Model != null)
        {
            foreach (Product p in Model)
            {
                <tr>
                    <td>@p.Name</td>
                    <td>@p.Id</td>
                    <td>@p.Price</td>
                    <td>
                        <img src="@Url.Content(@p.picture)" style="width: 150px; height: 150px;" />
                    </td>
                </tr>
            }
        }
    }

</table>
